@media (min-width: 0px) {
  .section-6 {
    margin-top: 160px;
  }
  .section-6 .section-6__div .div-6 {
    width: 100%;
    height: 1px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  .section-6 .section-6__div .section-6__content {
    margin-top: 20px;
  }
  .section-6 .section-6__div .section-6__content .section-6__cart .section-6__div-p {
    display: flex;
    gap: 20px;
  }
  .section-6 .section-6__div .section-6__content .section-6__cart .section-6__div-p .div {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(24, 74, 251);
  }
  .section-6 .section-6__div .section-6__content .section-6__cart .section-6__div-p .section-6__text {
    color: var(--text-2, #56585e);
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
  }
  .section-6 .section-6__div .section-6__content .section-6__cart .section-6__text-2 {
    color: var(--Daminant, #2e3038);
    font-family: "Michroma", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 130% */
    text-transform: uppercase;
    margin-top: 20px;
  }
  .section-6 .section-6__div .section-6__content .section-6__cart-2 {
    margin-top: 40px;
  }
}
@media (min-width: 800px) {
  .section-5 {
    margin-top: 160px;
  }
  .section-5 .section-5__div .div-5 {
    width: 100%;
    height: 1px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  .section-5 .section-5__div .section-5__content {
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart {
    display: flex;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p {
    display: flex;
    gap: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p .div {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(24, 74, 251);
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p .section-5__text {
    color: var(--text-2, #56585e);
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__text-2 {
    color: var(--Daminant, #2e3038);
    font-family: "Michroma", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 150px;
    margin-bottom: 123px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 {
    margin-top: 0px;
    display: flex;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 .section-5__info {
    width: 330px;
    height: 161;
    margin-left: 123px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 .section-5__info .section-5__img {
    margin-bottom: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 .section-5__info .section-5__text-3 {
    color: rgba(46, 48, 56, 0.6);
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-bottom: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 .section-5__info .div {
    width: 100%;
    height: 1px;
    border-radius: 12px;
    border: 1px solid #ccc;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) {
  .section-5 {
    margin-top: 160px;
  }
  .section-5 .section-5__div .div-5 {
    width: 100%;
    height: 1px;
    border-radius: 12px;
    border: 1px solid #ccc;
  }
  .section-5 .section-5__div .section-5__content {
    margin-top: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart {
    display: flex;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p {
    display: flex;
    gap: 20px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p .div {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(24, 74, 251);
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__div-p .section-5__text {
    color: var(--text-2, #56585e);
    font-family: "Michroma", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    text-transform: capitalize;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart .section-5__text-2 {
    color: var(--Daminant, #2e3038);
    font-family: "Michroma", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    text-transform: uppercase;
    margin-top: 0px;
    margin-left: 167px;
    margin-bottom: 123px;
  }
  .section-5 .section-5__div .section-5__content .section-5__cart-2 {
    margin-top: 0px;
    display: flex;
    margin-left: 170px;
  }
}/*# sourceMappingURL=-home-6.css.map */