@media (min-width: 0px) {
  .section-2 {
    margin-top: 120px;
    .section-2__div {
      .div-2 {
        background: #ccc;
        width: 100%;
        height: 1px;
      }
      .section-2__content {
        margin-top: 20px;
        justify-content: space-between;
        .section-2__cart {
          display: flex;
          gap: 20px;
          .div {
            width: 20px;
            height: 20px;
            background-color: rgba(24, 74, 251, 1);
            border-radius: 50px;
          }
          .section-2__text {
            color: var(--text-2, #56585e);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            text-transform: capitalize;
          }
        }
        .section-2__cart-2 {
          margin-top: 40px;
          .section-2__text-2 {
            color: var(--Daminant, #2e3038);
            font-family: "Inter", sans-serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px; /* 130% */
            text-transform: uppercase;
          }
          .section-2__text-3 {
            color: var(--descropion, #828388);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            margin-top: 36px;
          }
          .section-2__btn {
            display: flex;
            width: 166px;
            height: 36px;
            padding: 8px 32px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;
            border-radius: 20px;
            border: 1px solid #ccc;
            background: #fff;
            margin-top: 20px;
            color: var(--Kok, #184afb);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
            letter-spacing: 0.16px;
            text-transform: capitalize;
          }
        }
        .section-2__cart-3 {
          margin-top: 50px;
          align-items: center;
          width: 100%;
          height: 400px;
          padding: 100px 10px;
          border-radius: 8px;
          border: 1px solid #ccc;
        }
      }
    }
  }
}

@media (min-width: 800px) {
    .section-2 {
      margin-top: 120px;
      .section-2__div {
        .div-2 {
          background: #ccc;
          width: 100%;
          height: 1px;
        }
        .section-2__content {
            display: flex;
          .section-2__cart {
            display: flex;
            gap: 20px;
            .div {
              width: 20px;
              height: 20px;
              background-color: rgba(24, 74, 251, 1);
              border-radius: 50px;
            }
            .section-2__text {
              color: var(--text-2, #56585e);
              font-family: "Inter", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              text-transform: capitalize;
            }
          }
          .section-2__cart-2 {
            margin-top: 0px;
            .section-2__text-2 {
              color: var(--Daminant, #2e3038);
              font-family: "Inter", sans-serif;
              font-size: 40px;
              font-style: normal;
              font-weight: 600;
              line-height: 52px; /* 130% */
              text-transform: uppercase;
            }
            .section-2__text-3 {
              color: var(--descropion, #828388);
              font-family: "Inter", sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px; /* 150% */
              margin-top: 36px;
            }
            .section-2__btn {
              margin-top: 40px;
            }
          }
          .section-2__cart-3 {
            margin-top: 0px;
            align-items: center;
            width: 432px;
            height: 400px;
            padding: 100px 98px;
            border-radius: 8px;
            border: 1px solid #ccc;
          }
        }
      }
    }
  }
  