@media (min-width: 0px) {
  .section {
    margin-top: 200px;
    .section__div {
      .section__text-div {
        .section__text {
          color: var(--Daminant, #2e3038);
          font-family: "Inter", sans-serif;
          font-size: 28px;
          font-style: normal;
          font-weight: 600;
          line-height: 40px;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
        .section__text-2 {
          color: var(--descropion, #828388);
          font-family: "Inter", sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .section__img {
        width: 100%;
        margin-top: 70px;
      }
    }
  }
}

@media (min-width: 800px) {
    .section {
      margin-top: 200px;
      .section__div {
        .section__text-div {
            display: flex;
            justify-content: space-between;
          .section__text {
            color: var(--Daminant, #2e3038);
            font-family: "Inter", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 0px;
          }
          .section__text-2 {
            color: var(--descropion, #828388);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
        .section__img {
          width: 100%;
          margin-top: 70px;
        }
      }
    }
  }
  
  @media (min-width: 1100px) {
    .section {
      margin-top: 200px;
      .section__div {
        .section__text-div {
            display: flex;
            justify-content: space-between;
          .section__text {
            color: var(--Daminant, #2e3038);
            font-family: "Inter", sans-serif;
            font-size: 48px;
            font-style: normal;
            font-weight: 600;
            line-height: 60px;
            text-transform: uppercase;
            margin-bottom: 0px;
          }
          .section__text-2 {
            color: var(--descropion, #828388);
            font-family: "Inter", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-right: 250px;
          }
        }
        .section__img {
          width: 100%;
          margin-top: 70px;
        }
      }
    }
  }